name: Run Python Tests
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout commit
        uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.8.15"
      - name: Set up Python
        run: uv python install

      - name: Install the project
        run: uv sync --locked --all-extras --dev
      
      - name: Lint and format check
        uses: astral-sh/ruff-action@v3
      - run: ruff check
      - run: ruff format --check

      - name: Checktypes
        run: uv run ty check

      - name: Run tests with unittest
        run: uv run -m unittest
